@page "/"

<PageTitle>Index</PageTitle>
<div class="fond">
    <h1>Accueil</h1>
    <div class="sectionLogIn">
        Ici on mettra toutes les infos de LogIn
    </div>
    <div class="selectionActivite">
        Ici on demandera de selectionner les travaux a faire soit série soit proto, quel projet, ou quel OF
        <div class="cube">C'est un cube</div>
    </div>
</div>


