
<div>
    <nav>
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <span></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="courbe">
                <span></span> Courbe
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="tolerance">
                <span></span> Tolérance
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="gestionProjet">
                <span></span> Projets et OF
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="testProjet">
                <span></span> Tests
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="admin">
                <span></span> Administration
            </NavLink>
        </div>
    </nav>
</div>

@code {
   
}
