
<menu @onmouseover="ExpandMenu" @onmouseout="RetractMenu">
    <div class="titre">
        Menu
    </div>
    <nav class="@NavMenuCss">
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <span></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="courbe">
                <span></span> Courbe
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="tolerance">
                <span></span> Tolérance
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="gestionProjet">
                <span></span> Projets et OF
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="testProjet">
                <span></span> Tests
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="admin">
                <span></span> Administration
            </NavLink>
        </div>
    </nav>
</menu>

@code {
    private bool collapseMenu=true;
    private string? NavMenuCss => collapseMenu ? "CollapseMenu" : null;
    private void ExpandMenu(){
        collapseMenu=false;
    }
    private void RetractMenu(){
        collapseMenu=true;
    }


   
}
