<div class="top-row">
        <a href="">ProjetCourbe</a>
</div>

<div>
    <nav>
        <div class="nav-item">
            <NavLink href="" Match="NavLinkMatch.All">
                <span></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink href="counter">
                <span></span> Counter
            </NavLink>
        </div>
    </nav>
</div>

@code {
   
}
