.page[b-uj3ulvozbv] {
    position: relative;
    display: flex;
    flex-direction: row;
}

main[b-uj3ulvozbv] {
    flex: 1;
}

.sidebar[b-uj3ulvozbv] {
    background-image: linear-gradient(0deg, rgba(120,98,47,1) 0%, rgba(153,119,68,1) 50%, rgba(120,98,47,1) 100%);
    width: 250px;
    position: absolute;
    top:10px;
    left: 10px;
}







